*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Buttons
{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}
.Main
{
    background-color: yellow;
    padding: 10px;
}